body 
{
background-image:url('newtry.gif');
background-repeat:repeat;
/*background-attachment:fixed;*/
}
div.question
{
position:relative;
left:450px;
top:250px;
width:500px;
height:500px;
color:white;
}